.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  padding: 50px 0px;
  width: 90%;
  max-width: 1173px;
  margin: 0 auto;
}
.title {
  font-family: "Neuton";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 77%;
  text-align: center;
  color: #3a5349;
  position: relative;
  display: inline-block;
  margin: 0 auto;
}
.brandsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.brands {
  display: flex;
  flex-direction: column;
  background: #ECE8D9;
}
.image {
  width: 100%;
}
.name {
  font-family: "Dhyana";
  font-style: normal;
  font-weight: 0;
  font-size: 24px;
  line-height: 139%;
  text-transform: capitalize;
  color: #3a5349;
  padding: 8px 12px;
}

@media only screen and (max-width: 991px) {
  .title {
    font-size: 60px;
  }
  .brandsContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .name {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 575px) {
  .name {
    font-size: 18px;
  }
}
@media only screen and (max-width: 520px) {
  .brandsContainer {
    grid-template-columns: 1fr;
    max-width: 300px;
  }
}
