.wrapper {
  position: fixed;
  width: 100%;
  background: #f4eedf;
  z-index: 10;
  padding: 12px 0px;
}

.navbar {
  max-width: 1337px;
  margin: 0 auto;
  width: 90%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Dhyana";
  font-style: normal;
  font-weight: 400;
  font-size: 26.25px;
  line-height: 100%;
  color: #000000;
}
.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.navItem {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #3a5349;
}
.activeNav {
  font-weight: 700;
}
.iconWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.iconContainer {
  width: 56px;
  height: 56px;
  border: 1px solid #3a5349;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.icon {
  font-size: 28px;
}
.hamburger {
  display: none;
  cursor: pointer;
}

.close {
  font-size: 22px;
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .wrapper {
    padding: 20px 0px;
  }
  .iconContainer {
    width: 40px;
    height: 40px;
  }
  .icon {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .wrapper {
    border-bottom: 1px solid #3a5349;
  }
  .logo {
    font-size: 24px;
  }
  .navItems {
    position: fixed;
    top: 0px;
    right: 0;
    transform: translate(150%);
    transition: 0.5s;
    width: 100%;
    flex-direction: column;

    justify-content: flex-start;
    padding-top: 150px;
    padding-left: 35px;
    min-height: 100vh;
    z-index: 5;
  }
  .sidebar {
    background: #f4eedf;

    transform: translate(0);
    transition: 0.5s;
  }

  .hamburger {
    display: flex;
  }
  .hamburger .icon {
    font-size: 18px;
  }
  .close {
    display: flex;
    position: absolute;
    right: 15px;
    top: 20px;
  }
}
