.heroSection {
  max-width: 1000px;
  margin: 0 auto;
  width: 90%;
  padding: 100px 0px;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-family: "Neuton";
  font-style: normal;
  font-weight: 400;
  font-size: 125px;
  line-height: 77%;
  text-align: center;
  letter-spacing: -4.11591px;
  color: #3a5349;
}
.productContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 80px 0;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #3a5349;
  border-radius: 400px;
  padding: 60px;
}
.text {
  font-family: "Neuton";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 139%;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
.imageContainer {
  position: relative;
  margin-left: -25px;
}
.image {
  width: 100%;
}
.priceTag {
  position: absolute;
  top: 15px;
  right: 0px;
  width: 98.56px;
}
.button {
  font-family: "Dhyana";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */

  text-align: center;

  color: #ffffff;
  padding: 20px 30px;
  background: #3a5349;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .title {
    font-size: 100px;
  }
  .info {
    padding: 35px;
  }
  .text {
    font-size: 22px;
  }
}
@media only screen and (max-width: 767px) {
  .title {
    font-size: 70px;
  }
  .productContainer {
    display: flex;
    justify-content: center;
    max-width: 257px;
    margin: 0 auto;
    padding: 40px 0;
  }
  .info {
    background: none;
    padding: 0;
    gap: 0px;
  }
  .text {
    color: #3a5349;
    font-size: 24px;
  }
  .imageContainer {
    display: none;
  }
}
@media only screen and (max-width: 520px) {
  .heroSection {
    padding-top: 115px;
  }
  .title {
    font-size: 40px;
    word-spacing: 3px;
    letter-spacing: 0.2px;
    line-height: 113%;
  }
  .button {
    padding: 20px 25px;
  }
}
